img {
  width: 490px;
  height: 490px;
  margin-left: 100px;
  margin-top: 90px;
}
h5 {
  color: #8f2424;
  font-weight: bold;
}

h3 {
  color: white;
  font-weight: bold;
}
header {
  background-color: #8f2424;
}

.btn-login {
  width: 130px;
  height: 40px;
  border-radius: 30px;
  border: 2px solid white;
  background-color: #8f2424;
  color: white;
}

input {
  background-color: rgb(255, 255, 255, 0.2);
}

input:focus {
  background-color: rgb(255, 255, 255, 0.2);
}
