<header id="header" class="fixed-top" style="background-color:#8f2424;">
   <div class="container d-flex align-items-center">
      <h1 class="logo me-auto"><a routerLink="/home">Criminals</a></h1>
      <nav id="navbar" class="navbar">
         <ul>
            <li><a class="getstarted scrollto" routerLink="/login">Sign In </a></li>
            <!--<li><a class="getstarted scrollto" routerLink="/signup">Sign Up</a></li>-->
         </ul>
         <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
   </div>
</header>
<section id="hero" class="d-flex align-items-center">
   <div class="container">
      <div class="row">
         <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
            data-aos="fade-up" data-aos-delay="200">
            <h1>The Best Crimes's Declaration Platform</h1>
            <h2>Our main goal is to keep you secure</h2>
         </div>
         <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200"> <img
               src="assets/img/security.svg" class="img-fluid animated" alt=""
               style="height:300px; margin-left: 170px;"></div>
      </div>
   </div>
</section>
<main id="main">

   <section id="about" class="about">
      <div class="container" data-aos="fade-up">
         <div class="section-title">
            <h2>About Us</h2>
         </div>
         <div class="row content">
            <div class="col-lg-6">
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna
                  aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
               <ul>
                  <li><i class="ri-check-double-line"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit,</li>
                  <li><i class="ri-check-double-line"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                     do eiusmod tempor incididunt ut labore et dolore</li>
                  <li><i class="ri-check-double-line"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                     do eiusmod tempor incididunt ut labore et dolore</li>
               </ul>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna
                  aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                  commodo consequat. Duis
                  aute irure dolor in reprehenderit in voluptate velit esse cillum </p>
               <a href="#" class="btn-learn-more">Learn More</a>
               <!---->
            </div>
         </div>
      </div>
   </section>


</main>
<footer id="footer">

   <div class="container footer-bottom clearfix">
      <div class="copyright">Copyright &copy; CRIMINALS <strong><span>2022</span></strong>. All Rights Reserved</div>
   </div>
</footer>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>