<div class="panel-heading" style="text-align: center;" *ngIf="showDetails == false">
    <h1>Declarations :</h1>
</div>
<div class="panel-body" *ngIf="showDetails == false">
    <table id="example" class="table table-striped table-bordered table-sm row-border hover" cellspacing="0">

        <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Declarant</th>
                <th>instant</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let declaration of declarations" style="color: white;">
                <td style="color: white;">{{declaration.titre}}</td>
                <td style="color: white;">{{declaration.description}}</td>
                <td style="color: white;">{{declaration.declarant==null?"Anonyme":declaration.declarant}}</td>
                <td style="color: white;">{{declaration.declarationInstant}}</td>

                <td>
                    <button style='margin-right:16px' class="btn btn-danger"
                        (click)="chooseDeclaration(declaration.id)">Consulter</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="showDetails == true" class="declaration-details">
    <app-declaration-details [declaration]="declarations[idDeclaration-1]"></app-declaration-details>
</div>